.footer{

    .links{
        color: #4b4c4d;
        border: 1px solid ;
        border-radius: 50%; 

        .icon{
            width: 30px;
        }
    }

    a { color: #4b4c4d; }
    
    p { color: #4b4c4d; }
}


