/*---------------------------Header para todas las paginas---------------------------*/

.header{
    .navbar-brand{
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
    }

    .navbar-toggler{
        background: white;
    }

    .nav-link:hover{
        background: orange;
        transition: .5s;
    }
}

