/*---------------------------Pagina para Nosotros---------------------------*/

#nosotros #section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: repeat(1, auto);
    justify-content: center;
    padding: 5em;
    gap: 80px;
}

