/*paleta de colores de toda la pagina*/

header, #header{ background: $ColorHeaderFooter; }

main, #main{ background: $ColorMain; }

section, #section{ background: $ColorSection; }

footer, #footer{ background: $ColorHeaderFooter; }
