/*paleta de colores de toda la pagina*/

header, #header{
    background: map-get($map: $paleta, $key: 'ColorHeaderFooter');
}

main, #main{
    background: map-get($map: $paleta, $key: 'ColorMain');
}

section, #section{
    background: map-get($map: $paleta, $key: 'ColorSection');
 }

footer, #footer{
    background: map-get($map: $paleta, $key: 'ColorHeaderFooter');
}
