//-------------------mixin con parametro-------------------
@mixin size_box( $h, $w) {
    height: $h;
    width: $w;
}
// @include size_box(500px, 50px)


//-------------------mixin sin parametro-------------------
@mixin flex-center {
    display: flex;
    justify-content: center;
}
//@include flex-row-center

